black
ipykernel
numpy
panda
pyarrow
matplotlib
plotly
seaborn
nbformat
python-dotenv
flake8
termcolor
langchain
google-cloud-aiplatform
openai
ollama
tiktoken
sentencepiece
PyPDF2
markdownify
pycryptodome
pythonbible
jupyter